.headerChild {
  height: 100px;
  width: 1160px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: var(--default-white);
  display: none;
  max-width: 100%;
}
.image3Icon {
  height: 73px;
  width: 72.5px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.creative {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 105.7px;
}
.creative,
.learnersAcademy {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.creativeParent,
.image3Parent,
.learnersAcademyWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.learnersAcademyWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  margin-top: -9px;
}
.creativeParent,
.image3Parent {
  flex-direction: column;
}
.image3Parent {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-4xl-2);
  max-width: 100%;
}
.aboutUs1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 68.1px;
  white-space: nowrap;
}
.aboutUs {
  position: absolute;
  top: 0;
  left: 73.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.gallery1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54.3px;
}
.gallery {
  position: absolute;
  top: 0;
  left: 457.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.home1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 46.3px;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.management1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.management {
  position: absolute;
  top: 0;
  left: 166px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.notice1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 48.6px;
}
.notice {
  position: absolute;
  top: 0;
  left: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.facilities1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 65.3px;
}
.facilities {
  position: absolute;
  top: 0;
  left: 367px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.contactUs1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83.5px;
  white-space: nowrap;
}
.contactUs {
  position: absolute;
  top: 0;
  left: 539px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  color: var(--medium);
}
.menuOptions {
  margin: 0;
  align-self: stretch;
  height: 23px;
  position: relative;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
.menuContainer {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.accountIcon {
  height: 40px;
  width: 40.3px;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.menuContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.header,
.headerInner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.headerInner {
  width: 690.8px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.header {
  align-self: stretch;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: var(--default-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-12xl) var(--padding-smi)
    var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.contactUs2 {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}
.contactUs2,
.home2,
.homeIcon {
  position: relative;
  z-index: 1;
}
.home2 {
  text-decoration: none;
  letter-spacing: 0.01em;
  color: inherit;
  display: inline-block;
  min-width: 44px;
}
.homeIcon {
  width: 6px;
  height: 5px;
}
.breadcrumbIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.contactUs3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  color: var(--default-white);
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.breadcrumbOptions,
.breadcrumbOptionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.breadcrumbOptions {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.breadcrumbOptionsWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  text-align: left;
  font-size: var(--large-bold-size);
  color: var(--color-gray-400);
}
.contactHeader,
.contactHeaderWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contactHeader {
  width: 322px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.contactHeaderWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-26xl) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-34xl);
  color: var(--default-white);
  font-family: var(--font-roboto);
}
.findUs {
  color: var(--medium);
}
.contactFindContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.mapContent,
.mapPlaceholder {
  width: 97px;
  height: 2px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--third-template-colour);
}
.mapContent {
  width: 100px;
  background-color: var(--medium);
}
.mapContentWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.mapPlaceholderParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.mapContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 63px 0 var(--padding-46xl);
}
.findUsContainer {
  width: 271px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.findUsContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-xl) var(--padding-4xl);
}
.detailsContainerChild {
  width: 451px;
  height: 539px;
  position: relative;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  background-color: var(--color);
  display: none;
  max-width: 100%;
}
.detailsTitle {
  margin: 0;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.detailsTitle,
.phone,
.youCanAlways {
  position: relative;
  z-index: 2;
}
.youCanAlways {
  align-self: stretch;
}
.phone {
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.p {
  margin: 0;
}
.phoneSpace {
  position: relative;
  line-height: 33px;
  font-weight: 600;
  color: var(--color-gray-400);
  display: inline-block;
  min-height: 66px;
  z-index: 2;
}
.detailsTitleParent,
.phoneParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.detailsTitleParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.email {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  z-index: 2;
}
.claschoolnpgmailcom {
  position: relative;
  line-height: 33px;
  font-weight: 600;
  color: var(--color-gray-400);
  white-space: nowrap;
  z-index: 2;
}
.emailParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
  gap: 32px;
  max-width: 100%;
}
.address,
.madhyapurThimi6 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
  z-index: 2;
}
.madhyapurThimi6 {
  height: 100px;
  flex: 1;
  line-height: 33px;
  font-weight: 600;
  color: var(--color-gray-400);
  min-width: 161px;
}
.addressParent,
.detailsContainer {
  width: 396px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.detailsContainer {
  width: 451px;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  background-color: var(--color);
  flex-direction: column;
  padding: var(--padding-12xl) 0 var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-width: 451px;
  z-index: 1;
}
.interactiveMap,
.interactiveMapChild,
.map {
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  max-width: 100%;
}
.interactiveMapChild {
  height: 539px;
  width: 608px;
  position: relative;
  background-color: var(--color-silver);
  display: none;
}
.interactiveMap,
.map {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.map {
  border: 0;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-lgi);
  background-image: url(/map@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.interactiveMap {
  background-color: var(--color-silver);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-3xs) 9px var(--padding-mid);
  min-width: 395px;
  margin-left: -7px;
}
.detailsContainerParent,
.inputFieldContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.detailsContainerParent {
  justify-content: center;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  row-gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
}
.inputFieldContainer {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-6xl);
}
.touchHeader {
  width: 191px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.touchHeaderWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
}
.inputFieldChild {
  height: 80px;
  width: 1056px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.name {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.inputField,
.touchContainer {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.inputField {
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.touchContainer {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-6xl);
}
.email1 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 55px;
  z-index: 1;
}
.inputField1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.subject {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.emailSubjectFields,
.touchContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.emailSubjectFields {
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.touchContainerParent {
  gap: var(--gap-11xl);
}
.rectangleDiv {
  height: 300px;
  width: 1056px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.mesaageHere {
  position: relative;
  line-height: 40px;
  z-index: 1;
}
.contactContainer,
.frameParent,
.inputField3 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.inputField3 {
  align-self: stretch;
  height: 300px;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.contactContainer,
.frameParent {
  flex-direction: column;
  align-items: flex-end;
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-11xl);
}
.contactContainer {
  flex: 1;
  gap: var(--gap-18xl);
}
.contactContainerWrapper,
.headerParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contactContainerWrapper {
  flex-direction: row;
  padding: 0 var(--padding-35xl) 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
.headerParent {
  flex-direction: column;
  gap: var(--gap-31xl);
}
.imageIcon {
  height: 178px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.contact4,
.imageWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.imageWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 3374px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -1702px;
}
.contact4 {
  width: 100%;
  position: relative;
  background-color: var(--default-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .creativeParent {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .contactUs2 {
    font-size: var(--font-size-23xl);
  }
  .contactFindContainer,
  .detailsTitle {
    font-size: var(--font-size-5xl);
  }
  .detailsContainer {
    flex: 1;
  }
  .interactiveMap {
    margin-left: 0;
  }
  .detailsContainerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .detailsContainer {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .map {
    gap: 175px;
  }
  .interactiveMap {
    min-width: 100%;
  }
  .contactContainer {
    gap: var(--gap-lg);
  }
  .contactContainerWrapper {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .headerParent {
    gap: var(--gap-6xl);
  }
  .imageWrapper {
    padding-bottom: 926px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menuContainer {
    display: none;
  }
  .contactUs2 {
    font-size: var(--font-size-13xl);
  }
  .contactFindContainer {
    font-size: var(--font-size-lg);
  }
  .mapContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .detailsTitle {
    font-size: var(--font-size-lg);
  }
  .phone,
  .youCanAlways {
    font-size: var(--large-bold-size);
  }
  .phoneSpace {
    line-height: 26px;
  }
  .claschoolnpgmailcom,
  .email,
  .phoneSpace {
    font-size: var(--large-bold-size);
  }
  .claschoolnpgmailcom {
    line-height: 26px;
  }
  .emailParent {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .address,
  .madhyapurThimi6 {
    font-size: var(--large-bold-size);
  }
  .madhyapurThimi6 {
    line-height: 26px;
  }
  .addressParent {
    flex-wrap: wrap;
  }
  .detailsContainer {
    gap: var(--gap-mini);
  }
  .map {
    gap: 88px;
  }
  .email1,
  .mesaageHere,
  .name,
  .subject {
    font-size: var(--large-bold-size);
    line-height: 32px;
  }
}
