.body {
  height: 987px;
  width: 1048px;
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: column;
  padding: 540px 0 183px var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-mid);
  max-width: 100%;
  z-index: 1;
}
.body,
.bodyWrapper,
.noticeDetail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bodyWrapper {
  width: 1160px;
  margin: auto;
  flex-direction: row;
  padding: 48px var(--padding-37xl);
  box-sizing: border-box;
  max-width: 100%;
}
.noticeDetail {
  width: 100%;
  position: relative;
  background-color: var(--default-white);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-39xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .body {
    padding-top: 228px;
    padding-bottom: 77px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .bodyWrapper {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .noticeDetail {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .body {
    padding-top: 148px;
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
