.txt {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 21px;
  font-family: var(--font-poppins);
  color: var(--default-white);
  text-align: left;
  display: inline-block;
}
.icon {
  height: 5px;
  width: 16px;
  position: relative;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-11xl);
  background-color: var(--color);
  height: 59.2px;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-xl);
  white-space: nowrap;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-darkgray-200);
}
