.imageIcon {
  width: 241.3px;
  max-height: 100%;
  object-fit: cover;
  min-height: 226px;
  flex-shrink: 0;
}
.firstClickTests,
.imageIcon,
.whileMostPeople {
  align-self: stretch;
  position: relative;
}
.firstClickTests {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.whileMostPeople {
  height: 76px;
  font-size: var(--large-bold-size);
  color: var(--third-template-colour);
  display: inline-block;
  flex-shrink: 0;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.more {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 21px;
  display: inline-block;
  min-width: 49px;
}
.frameChild {
  width: 16px;
  height: 5px;
  position: relative;
}
.button,
.buttonInner {
  align-items: flex-start;
}
.buttonInner {
  height: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.button {
  border-radius: var(--br-8xs);
  background-color: var(--medium);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-11xl);
  gap: var(--gap-xl);
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--third-template-colour);
}
.button,
.card,
.fourthContent {
  display: flex;
  justify-content: flex-start;
}
.fourthContent {
  width: 212px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-27xl);
  min-width: 212px;
  flex-shrink: 0;
}
.card {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-2xl-7);
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--medium);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 675px) {
  .fourthContent,
  .imageIcon {
    flex: 1;
  }
  .card {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .firstClickTests {
    font-size: var(--font-size-lg);
  }
  .more {
    font-size: var(--large-bold-size);
    line-height: 17px;
  }
}
