.rectangle {
  width: 1160px;
  height: 835px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.calendar {
  color: var(--medium);
}
.eventCalendar1 {
  margin: auto;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.outerCalendar,
.smallCalendar {
  width: 97.7px;
  height: 2.2px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--third-template-colour);
  flex-shrink: 0;
}
.smallCalendar {
  width: 100.7px;
  background-color: var(--medium);
}
.innerCalendar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.calendarContent,
.calendarDesign {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}
.calendarDesign {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs-6);
}
.calendarContent {
  width: 202.2px;
  flex-direction: row;
  padding: 0 var(--padding-10xl);
  box-sizing: border-box;
}
.component2 {
  width: 1084.5px;
  height: 518.1px;
  position: relative;
  display: none;
  max-width: 100%;
}
.eventCalendar {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl-6) 0 var(--padding-722xl-6) 0;
  box-sizing: border-box;
  gap: var(--gap-11xs-8);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1025px) {
  
}
@media screen and (max-width: 750px) {

}
@media screen and (max-width: 450px) {

}
