.gallery1 {
  color: var(--medium);
}
.ourGallery {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 43.7px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.outerImage,
.smallImage {
  width: 97px;
  height: 1.9px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--third-template-colour);
}
.smallImage {
  width: 100px;
  background-color: var(--color-forestgreen);
}
.innerImage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.imageContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs-9);
  flex-shrink: 0;
}
.galleryHeader,
.galleryImage,
.imageContainer,
.ourGalleryParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.galleryImage {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mini) 0 var(--padding-mid);
}
.galleryHeader,
.ourGalleryParent {
  width: 175px;
  flex-direction: column;
}
.galleryHeader {
  margin: auto;
  width: 1063px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleIcon {
  height: 496px;
  width: 1152px;
  position: absolute;
  margin: 0 !important;
  bottom: -203px;
  left: -44px;
}
.galleryNavigationChild {
  height: 243px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  z-index: 1;
}
.galleryNavigation {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.gallery,
.galleryContent,
.galleryNavigation {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.galleryContent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-47xl-6);
  margin: auto;
}
.gallery {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-6xs) 0 var(--padding-66xl) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .galleryContent {
    gap: var(--gap-14xl);
  }
}
@media screen and (max-width: 1025px) {
  .ourGallery {
    font-size: var(--font-size-5xl);
    line-height: 35px;
  }
}
@media screen and (max-width: 750px) {
  .galleryContent {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .ourGallery {
    font-size: var(--font-size-lg);
    line-height: 26px;
  }
  .gallery {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
