.rectangle {
  width: 1160px;
  height: 720px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.notice1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 100.7px;
}
.noticeHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-7xl);
}
.noticeRect,
.smallNoticeRect {
  width: 97.7px;
  height: 2px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--third-template-colour);
}
.smallNoticeRect {
  width: 100.7px;
  background-color: var(--medium);
}
.innerNotice {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.noticeContent,
.noticeDesign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.noticeDesign {
  align-self: stretch;
  gap: var(--gap-8xs);
}
.noticeContent {
  width: 144px;
}
.box,
.notice {
  max-width: 100%;
}
.box {
  width: 1084.5px;
  height: 466px;
  position: relative;
  display: none;
}
.notice {
  margin-right: -1px;
  margin-bottom: 54px;
  align-self: stretch;
  height: 720px;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-6xs)
    var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-515xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--medium);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1025px) {
  .notice1 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .notice1 {
    font-size: var(--font-size-lg);
  }
}
