.imageIcon {
  height: 500px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 326px;
}
.mission {
  color: var(--medium);
}
.ourMission {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;
}
.missionImageRectAlt,
.missionImageRectOuterAlt {
  width: 97px;
  height: 2px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--third-template-colour);
}
.missionImageRectAlt {
  width: 100px;
  background-color: var(--medium);
}
.missionImageRectInnerAlt {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.line {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
  flex-shrink: 0;
}
.line,
.missionImageWrapperAlt,
.tittle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.missionImageWrapperAlt {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-9xl);
  margin-top: -1px;
}
.tittle {
  width: 197px;
  flex-direction: column;
}
.missionDescription {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 35px;
}
.missionVariantAlt,
.property1variant2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.missionVariantAlt {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
  min-width: 326px;
}
.property1variant2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 800px) {
  .ourMission {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 675px) {
  .property1variant2 {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .ourMission {
    font-size: var(--font-size-lg);
  }
  .missionDescription {
    font-size: var(--large-bold-size);
    line-height: 28px;
  }
}
