.button,
.root {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
}
.root {
  width: 100%;
  height: 498px;
  position: relative;
  background-color: var(--default-white);
  flex-direction: row;
  padding: 60px var(--padding-24xl) 256px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 331px) {
  .root {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
