.ourVisionWrapper,
.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.ourVisionWrapper {
  width: 1142px;
  flex-direction: row;
  padding: 0 var(--padding-6xl);
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--default-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-20xl) 35px;
  gap: var(--gap-14xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 675px) {
  .root {
    gap: var(--gap-base);
  }
}
