.sendMessage {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 21px;
  font-family: var(--font-poppins);
  color: var(--default-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 1px solid var(--default-white);
  padding: var(--padding-lg) var(--padding-10xl);
  background-color: var(--color);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-darkgray-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
