.day {
  flex: 1;
  position: relative;
  line-height: 17px;
}
.calendarDay {
  flex: 1;
  background-color: var(--default-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-mid) var(--padding-7xl-2);
  box-sizing: border-box;
  min-width: 74px;
  max-width: 76px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--neutrals-n200);
  font-family: var(--small-bold);
}
