.files1,
.rectangleIcon {
  position: relative;
  max-width: 100%;
}
.rectangleIcon {
  width: 1053px;
  height: 159px;
  display: none;
}
.files1 {
  width: 953px;
  line-height: 34px;
  display: inline-block;
  z-index: 1;
}
.buttonWrapper,
.files {
  display: flex;
  align-items: flex-start;
}
.files {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-30xl);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.buttonWrapper {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
}
.filesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1050px) {
  .files {
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .filesParent {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .files1 {
    font-size: var(--large-bold-size);
    line-height: 27px;
  }
}
