.headerChild {
  height: 100px;
  width: 1160px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: var(--default-white);
  display: none;
  max-width: 100%;
}
.image3Icon {
  height: 73px;
  width: 72.5px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.creative {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 105.7px;
}
.creative,
.learnersAcademy {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.headerRight,
.image3Parent,
.learnersAcademyWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.learnersAcademyWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  margin-top: -9px;
}
.headerRight,
.image3Parent {
  flex-direction: column;
}
.image3Parent {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-4xl-2);
  max-width: 100%;
}
.aboutUs1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 68.1px;
  white-space: nowrap;
}
.aboutUs {
  position: absolute;
  top: 0;
  left: 73.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.gallery1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54.3px;
}
.gallery {
  position: absolute;
  top: 0;
  left: 457.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.home1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 46.3px;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.management1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.management {
  position: absolute;
  top: 0;
  left: 166px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.notice1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 48.6px;
}
.notice {
  position: absolute;
  top: 0;
  left: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  color: var(--medium);
}
.facilities1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 65.3px;
}
.facilities {
  position: absolute;
  top: 0;
  left: 367px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.contactUs1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83.5px;
  white-space: nowrap;
}
.contactUs {
  position: absolute;
  top: 0;
  left: 539px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.menuLinks {
  margin: 0;
  align-self: stretch;
  height: 23px;
  position: relative;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
.menuLinksWrapper {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.accountIcon {
  height: 40px;
  width: 40.3px;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameParent,
.headerInner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-9xl);
}
.headerInner {
  width: 690.8px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.header,
.imageIcon {
  top: 0;
  max-width: 100%;
}
.header {
  align-self: stretch;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: var(--default-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-12xl) var(--padding-smi)
    var(--padding-sm);
  box-sizing: border-box;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.imageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  max-height: 100%;
}
.notice2 {
  margin: 0;
  width: 185px;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.noticeWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.breadcrumbIcons,
.home2 {
  position: relative;
  z-index: 1;
}
.home2 {
  text-decoration: none;
  color: var(--color-gray-400);
  display: inline-block;
  min-width: 44px;
}
.breadcrumbIcons {
  width: 6px;
  height: 5px;
}
.breadcrumbs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.notice3,
.noticeDetail {
  position: relative;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.noticeDetail {
  font-weight: 500;
  min-width: 93px;
}
.headerParent,
.homeParent,
.subHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeParent {
  flex-direction: row;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--large-bold-size);
}
.headerParent,
.subHeader {
  align-self: stretch;
  flex-direction: column;
}
.subHeader {
  padding: var(--padding-25xl) var(--padding-425xl) var(--padding-23xl);
  position: relative;
  gap: var(--gap-3xs);
}
.headerParent {
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-34xl);
  color: var(--default-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1050px) {
  .headerRight {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .notice2 {
    font-size: var(--font-size-23xl);
  }
}
@media screen and (max-width: 725px) {
  .subHeader {
    padding-left: var(--padding-203xl);
    padding-right: var(--padding-203xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menuLinksWrapper {
    display: none;
  }
  .notice2 {
    font-size: var(--font-size-13xl);
  }
  .subHeader {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
