.rectangle {
  width: 1053px;
  height: 523px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.noticeItemSeparator,
.title {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.title {
  margin: 0;
  font-size: inherit;
  line-height: 45px;
  font-weight: 500;
  font-family: inherit;
}
.noticeItemSeparator {
  height: 2px;
  border-radius: var(--br-8xs);
  background-color: var(--third-template-colour);
}
.september102021 {
  width: 190px;
  position: relative;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.noticeItem,
.september102021Wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.september102021Wrapper {
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
}
.noticeItem {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.writeSomeDescriptions {
  margin: 0;
}
.descriptions {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 34px;
  z-index: 1;
}
.notices {
  margin-top: -541px;
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-30xl) var(--padding-62xl);
  box-sizing: border-box;
  gap: var(--gap-53xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1050px) {
  .notices {
    gap: var(--gap-17xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
}
@media screen and (max-width: 725px) {
  .notices {
    gap: var(--gap-lg);
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .descriptions,
  .title {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .descriptions {
    font-size: var(--large-bold-size);
  }
}
