.vision {
  color: var(--medium);
}
.ourVision {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;
}
.visionTitleRectAlt,
.visionTitleRectInner {
  height: 1.8px;
  position: relative;
  border-radius: var(--br-8xs);
}
.visionTitleRectInner {
  width: 97px;
  background-color: var(--third-template-colour);
}
.visionTitleRectAlt {
  flex: 1;
  background-color: var(--medium);
}
.visionTitleRect {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-24xl);
}
.line {
  height: 8px;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
  flex-shrink: 0;
}
.line,
.lineWrapper,
.tittle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lineWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xl);
  margin-top: -1px;
}
.tittle {
  width: 173px;
  flex-direction: column;
}
.text {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 35px;
}
.imageIcon,
.tittleParent {
  flex: 1;
  max-width: 100%;
  min-width: 326px;
}
.tittleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.imageIcon {
  height: 500px;
  position: relative;
  overflow: hidden;
}
.property1variant2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 800px) {
  .ourVision {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 675px) {
  .property1variant2 {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .ourVision {
    font-size: var(--font-size-lg);
  }
  .text {
    font-size: var(--large-bold-size);
    line-height: 28px;
  }
}
