.vision {
  color: var(--medium);
}
.ourVision1 {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;
  white-space: nowrap;
  color: inherit;
}
.visionDescRect,
.visionDescRectOuter {
  height: 1.8px;
  position: relative;
  border-radius: var(--br-8xs);
}
.visionDescRectOuter {
  width: 97px;
  background-color: var(--third-template-colour);
}
.visionDescRect {
  flex: 1;
  background-color: var(--medium);
}
.visionDescRectInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-24xl);
}
.line {
  height: 8px;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
  flex-shrink: 0;
}
.line,
.tittle,
.visionDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.visionDescription {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xl);
  margin-top: -1px;
}
.tittle {
  width: 173px;
  flex-direction: column;
}
.ourVision,
.property1default {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--third-template-colour);
  font-family: var(--font-poppins);
}
.property1default {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-285xl) var(--padding-428xl);
}
.ourVision {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .property1default {
    padding-left: var(--padding-133xl);
    padding-right: var(--padding-133xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .property1default {
    padding-bottom: var(--padding-272xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .property1default {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
