@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --small-bold: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --large-bold-size: 16px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-34xl: 53px;
  --font-size-13xl: 32px;
  --font-size-23xl: 42px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-lgi: 19px;
  --font-size-sm: 14px;
  --small-bold-size: 12px;

  /* Colors */
  --default-white: #fff;
  --neutrals-n100: #7b827e;
  --text-default-default: #1e1e1e;
  --default-body: #0a1811;
  --color-gray-100: rgba(0, 0, 0, 0.6);
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0);
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --color: rgba(126, 126, 126, 0.7);
  --color-gray-500: rgba(255, 255, 255, 0.5);
  --color-silver: #c4c4c4;
  --color-black: #000;
  --light: rgba(251, 255, 71, 0.7);
  --color-midnightblue: #010064;
  --dark: #085e63;
  --third-template-colour: #22343d;
  --color-darkslategray-100: #1f2e35;
  --medium: #2fae71;
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: rgba(237, 237, 237, 0.6);
  --color-darkgray-100: #969696;
  --color-darkgray-200: rgba(153, 153, 153, 0.7);
  --color-forestgreen: #339933;
  --color-gainsboro-100: #e6e6e6;
  --border-default-default: #d9d9d9;
  --color-blueviolet: #9747ff;
  --neutrals-n200: #6c7470;
  --color-seagreen: #179457;

  /* Spacing */
  --radius-full: 9999px;

  /* Gaps */
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-2xs: 11px;
  --gap-6xl: 25px;
  --gap-3xl: 22px;
  --gap-8xl: 27px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-2xl-7: 21.7px;
  --gap-27xl: 46px;
  --gap-3xs: 10px;
  --gap-2xs-1: 10.1px;
  --gap-9xl: 28px;
  --gap-4xl-2: 23.2px;
  --gap-47xl-6: 66.6px;
  --gap-mid: 17px;
  --gap-14xl: 33px;
  --gap-8xs-9: 4.9px;
  --gap-515xl: 534px;
  --gap-8xs: 5px;
  --gap-11xs-8: 1.8px;
  --gap-7xs-6: 5.6px;
  --gap-13xl-7: 32.7px;
  --gap-base: 16px;
  --gap-27xl-7: 46.7px;
  --gap-4xl: 23px;
  --gap-xl-8: 20.8px;
  --gap-2xs-4: 10.4px;
  --gap-7xs-7: 5.7px;
  --gap-10xs-5: 2.5px;
  --gap-12xs: 1px;
  --gap-53xl: 72px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-xs-8: 11.8px;
  --gap-5xl: 24px;
  --gap-18xl: 37px;
  --gap-xs-9: 11.9px;
  --gap-706xl: 725px;
  --gap-10xl: 29px;
  --gap-3xl-2: 22.2px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-36xl-7: 55.7px;
  --gap-11xs-3: 1.3px;
  --gap-11xs-9: 1.9px;
  --gap-39xl: 58px;
  --gap-26xl: 45px;
  --gap-31xl: 50px;
  --gap-25xl: 44px;
  --gap-6xs: 7px;
  --gap-sm: 14px;
  --gap-11xl: 30px;
  --gap-12xl-6: 31.6px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-23xl: 42px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-7xl: 26px;
  --padding-3xl: 22px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-11xs-3: 1.3px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-smi: 13px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-14xl: 33px;
  --padding-11xl: 30px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-25xl: 44px;
  --padding-45xl: 64px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-12xl: 31px;
  --padding-11xs: 2px;
  --padding-66xl: 85px;
  --padding-36xl: 55px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-16xl-6: 35.6px;
  --padding-722xl-6: 741.6px;
  --padding-459xl: 478px;
  --padding-294xl: 313px;
  --padding-220xl: 239px;
  --padding-4xl: 23px;
  --padding-463xl: 482px;
  --padding-10xl: 29px;
  --padding-39xl: 58px;
  --padding-23xl-3: 42.3px;
  --padding-20xl: 39px;
  --padding-49xl: 68px;
  --padding-lgi: 19px;
  --padding-285xl: 304px;
  --padding-428xl: 447px;
  --padding-272xl: 291px;
  --padding-133xl: 152px;
  --padding-9xl: 28px;
  --padding-24xl: 43px;
  --padding-26xl: 45px;
  --padding-17xl: 36px;
  --padding-2xl: 21px;
  --padding-27xl: 46px;
  --padding-13xl: 32px;
  --padding-30xl: 49px;
  --padding-19xl: 38px;
  --padding-57xl: 76px;
  --padding-42xl: 61px;
  --padding-40xl: 59px;
  --padding-94xl: 113px;
  --padding-46xl: 65px;
  --padding-21xl: 40px;
  --padding-54xl: 73px;
  --padding-27xl-7: 46.7px;
  --padding-308xl: 327px;
  --padding-194xl: 213px;
  --padding-27xl-3: 46.3px;
  --padding-4xs-3: 8.3px;
  --padding-2xs: 11px;
  --padding-7xl-2: 26.2px;
  --padding-3xs: 10px;
  --padding-10xs-5: 2.5px;
  --padding-28xl: 47px;
  --padding-5xl: 24px;
  --padding-460xl: 479px;
  --padding-37xl: 56px;
  --padding-62xl: 81px;
  --padding-34xl: 53px;
  --padding-425xl: 444px;
  --padding-203xl: 222px;
  --padding-lg: 18px;
  --padding-48xl: 67px;
  --padding-53xl: 72px;
  --padding-52xl: 71px;
  --padding-90xl: 109px;
  --padding-89xl: 108px;
  --padding-1045xl: 1064px;
  --padding-431xl: 450px;
  --padding-673xl: 692px;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-81xl: 100px;
  --br-9980xl: 9999px;

  /* Effects */
  --dp: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
}
